* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  padding: 0 130px;
}

.logo {
  width: 130px;
  height: 30px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header-menu {
  width: fit-content;
  padding: 5px;
  border: 1px solid #eee;
  font-size: 12px;
}

.header-menu .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 65px;
}

.menu .item a {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

.menu .item a:hover {
  color: rgb(255, 0, 0);
}

.large-image {
  width: 100%;
  height: 720px;
  background: url("../images/top-carousel-esports.f501233e.jpg") no-repeat
    center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.large-image .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  color: #fff;
  margin-bottom: 140px;
}

.large-image .text .main-title {
  font-size: 45px;
}

.large-image .text .desc {
  font-size: 20px;
}

.about-us {
  width: 100%;
  height: 726px;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-us .title {
  font-size: 40px;
  margin-bottom: 50px;
}

.about-us .list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-us .list .item {
  width: 390px;
  height: 450px;
  padding: 76px 30px 0;

  background: url("../images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.item-image {
  width: 180px;
  height: 110px;
  margin-bottom: 20px;
}

.item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-title {
  font-size: 24px;
  font-weight: 700;
  color: #f04145;
  margin-bottom: 16px;
}

.item-desc {
  font-size: 14px;
  line-height: 26px;
  color: #757575;
  text-align: center;
}

.platform {
  width: 100%;
  height: fit-content;
  background: url("../images/platforms_bg.34b89957.jpg") no-repeat top center;
  background-size: cover;
  padding: 0 140px;
}

.platform .title {
  font-size: 40px;
  color: #16181a;
  font-weight: 700;
  line-height: 68px;
  margin-bottom: 70px;

  text-align: center;
}

.platform .content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.platform .text {
  width: 600px;
  padding: 90px 50px;
}

.platform .content .title {
  margin-bottom: 15px;
}

.platform .text .desc {
  font-size: 14px;
  line-height: 28px;
  color: #757575;
  margin-bottom: 20px;
}

.platform .text .more a {
  font-size: 24px;
  color: #f04145;
  line-height: 40px;
}

.platform .more i {
  font-size: 24px;
  color: #f04145;
}

.platform .content .phone-image {
  position: relative;
  width: 590px;
  height: 900px;
  background: url("../images/iphone@2x.b3dbf7bb.png") no-repeat center center;
  background-size: cover;
}

.phone-image img {
  position: absolute;
  top: 100px;
  left: 105px;
  width: 334px;
  height: 594px;
  object-fit: cover;
}

.footer {
  width: 100%;
  padding: 20px 100px;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #757575;
  font-size: 16px;
}

.footer .more {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
